@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;700&family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans Thai", "NeueHelveticaThai", "NotoSans", "NotoSerif",
    "Matterhorn", Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
/*----- Nav-bar -----*/
#global-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  float: none;
}
#global-nav li {
  width: 50;
}
.global-nav-select {
  margin-left: 2.25em;
}
nav {
  background-color: white;
  padding: 0.252rem;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: black;
  font-weight: 600;
  font-size: 14px;
}
.disney-logo-nav {
  padding-top: 0.5rem;
  margin-left: 1rem;
}
.disney-logo-nav u {
  visibility: hidden;
}
.login-nav-right {
  margin-left: auto;
  margin-right: 1.5rem;
}
.login-nav-right a {
  font-size: 14px;
}
/*----- Main -----*/
.main {
  padding: 0px 24px 24px;
}
.bound {
  padding: 0px 80px 40px;
}
.bound-header {
  line-height: 1.2;
  margin-bottom: 30px;
}
.bound-title {
  margin: 30px 0;
}
.bound-title span {
  font-size: 30px;
  font-weight: 400;
}
.peak-header span {
  font-size: 1.875rem;
  font-weight: 400;
}
.bound-blocks {
  padding: 2rem auto;
}
.blocks-flex {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem 1.25rem;
}

.blocks-flex img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}
.blocks-container {
  margin: 1rem 0;
}
.blocks-title {
  margin: 8px 0 0;
  color: #1d1e1f;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.25rem;
}
.goc-ft {
  background-color: white;
  clear: both;
  margin: 0;
  padding: 32px 0;
  z-index: 1;
}
#ft-help {
  margin: 0 auto;
  padding: 0 24px;
  text-align: center;
  margin-top: 10px;
  box-sizing: border-box;
}
.ft-logo {
  display: block;
  margin: 0 auto;
  padding-left: 4px;
  width: 80px;
  height: 36px;
  background-repeat: no-repeat;
  background-image: url(../images/nav-logo-dark.png);
  background-size: 80px 33px;
}
#ft-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 6px;
}
#ft-about li {
  padding: 0 12px 4px 8px;
}
#ft-about li a {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #333333;
}
#ft-legal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 20px;
}
#ft-legal li {
  padding: 4px 20px 0 0;
}
#ft-legal li a {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  color: #333333;
}
.ft-copyright {
  font-size: 0.75em;
  color: #333333;
}
#ft-help a:hover {
  color: #006ccf;
}
/*----- Responsive -----*/

@media screen and (max-width: 600px) {
  .global-nav-select {
    display: block;
    margin: 0;
    width: 100%;
    padding: 1rem 0;
    border-bottom: rgb(200, 200, 200) solid 1px;
  }
  #global-nav li {
    width: 100%;
  }
  .login-nav-right {
    padding: 1rem 0;
    border-bottom: black solid 1px;
    display: block;
  }
  #global-nav {
    flex-direction: column;
    text-align: center;
  }
  .disney-logo-nav {
    margin: 0;
    border-bottom: 2px black solid;
  }
  nav {
    padding: 0;
  }
  .blocks-flex {
    grid-template-columns: repeat(2, 1fr);
  }
  .bound {
    padding: 0 20px 12px;
  }
}

@media screen and (max-width: 700px) {
  .blocks-flex {
    grid-template-columns: repeat(3, 1fr);
  }
  .main {
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .login-nav-right {
    display: none;
  }
  .blocks-flex {
    grid-template-columns: repeat(4, 1fr);
  }
  .main {
    padding: 0;
  }
  .bound {
    padding: 0 48px 24px;
  }
}