@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;700&family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Thai", "NeueHelveticaThai", "NotoSans", "NotoSerif",
    "Matterhorn", Helvetica, sans-serif;
  background-color: rgba(240, 240, 240, 0.7);
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}
/*----- Nav-bar -----*/
#global-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  float: none;
}

#global-nav li {
  width: 50;
}

.global-nav-select {
  margin-left: 2.25em;
}

nav {
  background-color: white;
  padding: 0.252rem;
  padding-bottom: 1rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.disney-logo-nav {
  padding-top: 0.5rem;
  margin-left: 1rem;
}

.disney-logo-nav u {
  visibility: hidden;
}

.login-nav-right {
  margin-left: auto;
  margin-right: 1.5rem;
}

.login-nav-right a {
  font-size: 14px;
}
/*----- Main -----*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.grid-item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid-item.large {
  grid-row: span 2;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.grid-item:hover img {
  transform: scale(1.04);
}
.text-overlay {
  position: absolute;
  color: white;
  text-decoration: none;
  padding: 40px;
  width: 100%;
}

.title,
.description {
  display: block;
}
.title {
  font-size: 1.875rem;
  line-height: 1.2;
}
.desc {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 0 0;
}

.text-overlay.top-center {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  /* Center the div */
  text-align: center;
}

.text-overlay.bottom-left {
  bottom: 10px;
  left: 10px;
  text-align: left;
}

.text-overlay.bottom-right {
  bottom: 10px;
  right: 10px;
  text-align: right;
}
.text-overlay.bottom-center {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); 
  text-align: center;
  width: 100%; 
}
.text-overlay.right-center {
  top: 50%;
  right: 10px; 
  transform: translateY(-50%); 
  text-align: right; 
  width: auto; 
}
.bound-products {
  padding: 20px 64px;
}
.bound-header {
  margin-bottom: 30px;
  color: black;
}
.title span {
  font-weight: 400;
  letter-spacing: 0;
  font-size: 30px;
}
.details-container {
  height: 100%;
  border-radius: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.item-box {
  height: 100%;
}
.bot-desc {
  padding: 30px;
  color: black;
  text-align: center;
  font-size: large;
}
.top.landscape {
  width: 100%;
  height: auto;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.top img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.wrapper-tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.details-container-b {
  display: flex;
  flex-direction: column;
}
.box-details {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.description {
  margin-top: 0.72em;
}
.description b {
  font-weight: 600;
  font-size: 0.875em;
}
.description p {
  font-size: 0.875em;
  line-height: 1.3;
}
.cta-items-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px 0 0;
}
.cta-items-container ul {
  margin-top: 10px;
}
.cta-items-container li {
  margin-top: 10px;
}
.cta-items-container a {
  font-weight: 700;
  text-decoration: underline;
  line-height: 1;
  color: #2b4e97;
  font-size: 0.875em;
}
.category {
  color: #222;
  margin-top: 1.75rem;
}
.category p {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1.3;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 30px;
}
.wrapper li {
  text-align: left;
}
.des-container {
  padding: 30px;
  color: black;
}
.title-card {
  font-size: 1.25em;
  line-height: 1.2;
}
.des-body {
  margin-top: 0.72em;
  font-size: 0.875em;
  line-height: 1.3;
}
.top-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cta-items-btn-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  pointer-events: all;
  justify-content: center;
  margin: 10px 0 0 0;
}
.cta-item {
  margin-top: 12px;
}
.cta-button span {
  text-align: center;
  display: inline-block;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 24px;
  height: 48px;
  min-width: 240px;
  box-shadow: none;
  font-size: 1rem;
  padding: 16px 32px;
  border: 1px solid #0077da;
  color: #fff;
  background-color: #0077da;
}
.btn-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.goc-ft {
  background-color: white;
  clear: both;
  margin: 0;
  padding: 32px 0;
  z-index: 1;
}
#ft-help {
  margin: 0 auto;
  padding: 0 24px;
  text-align: center;
  margin-top: 10px;
  box-sizing: border-box;
}
.ft-logo {
  display: block;
  margin: 0 auto;
  padding-left: 4px;
  width: 80px;
  height: 36px;
  background-repeat: no-repeat;
  background-image: url(../images/nav-logo-dark.png);
  background-size: 80px 33px;
}
#ft-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 6px;
}
#ft-about li {
  padding: 0 12px 4px 8px;
}
#ft-about li a {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #333333;
}
#ft-legal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 20px;
}
#ft-legal li {
  padding: 4px 20px 0 0;
}
#ft-legal li a {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  color: #333333;
}
.ft-copyright {
  font-size: 0.75em;
  color: #333333;
}
#ft-help a:hover {
  color: #006ccf;
}
/*----- Responsive -----*/

@media screen and (max-width: 380px) {
  .text-overlay {
    padding: 20px;
  }
  .text-overlay .title p {
    font-size: 1rem;
    line-height: 1.2;
  }
  .text-overlay .desc p {
    font-size: 0.5rem;
    line-height: 1.2;
  }
  .title h2 span {
    line-height: 1.25rem;
    font-size: 1.2rem;
    letter-spacing: 0;
  }
  .box-details {
    padding: 20px;
    text-align: left;
  }
  .wrapper {
    margin-top: 0;
  }
  .des-container {
    padding: 20px;
  }
  .bound-products {
    padding: 16px 18px;
  }
}

@media screen and (max-width: 470px) {
  .bound-products {
    padding: 16px 20px;
  }
  .title h2 span {
    line-height: 1.75rem;
    font-size: 1.5rem;
    letter-spacing: 0;
  }
  .text-overlay .title p {
    font-size: 1.875rem;
    line-height: 1.2;
  }
}


@media screen and (max-width: 570px) {
  .global-nav-select {
    display: block;
    margin: 0;
    width: 100%;
    padding: 1rem 0;
    border-bottom: rgb(200, 200, 200) solid 1px;
  }
  #global-nav li {
    width: 100%;
  }
  .login-nav-right {
    padding: 1rem 0;
    border-bottom: black solid 1px;
    display: block;
  }
  #global-nav {
    flex-direction: column;
    text-align: center;
  }
  .disney-logo-nav {
    margin: 0;
    border-bottom: 2px black solid;
  }
  nav {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .login-nav-right {
    display: none;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .top img {
    width: 100%;
    height: auto;
  }
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1380px) {
  .wrapper-tr {
    grid-template-columns: repeat(1, 1fr);
  }
  .box-details {
    text-align: center;
  }
}